.DS_Store
node_modules
static/*
!static/logo.png
fabfile.pyc
npm-debug.log
.idea
.qshell


# Vim Files
#-------------------------
# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
# session
Session.vim
# temporary
.netrwhist
*~
